body {
    background-blend-mode: multiply;
    background: rgb(42, 22, 69);
    color: whitesmoke;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.img-responsive {
    display: block;
    min-height: 325px;
    width: 100%;
    object-fit: cover;
}

.grid {
    display: grid;
    grid-gap: 16px;
}

.grid-2-columns {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 10px;
}

.card {
    background-color: whitesmoke;
    color: black;
    padding-bottom: 30px;
}

section {
    margin: 0 auto;
    max-width: 1200px;
}

section {
    margin: 0 auto;
    max-width: 100%;
    padding: 100px;
}

section.secondary {
    background-blend-mode: multiply;
    background-color: rgb(74, 48, 107);
    background-image: url(../src/images/TB-theme.png);
    color: whitesmoke;
    text-align: center;
}

header {
    background-blend-mode: multiply;
    background: rgb(42, 22, 69);
    background-image: url(../src/images/Tim-Burton-bw.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 1;
    max-width: 100%;
    max-height: 100%;
    padding: 285px 160px;
    text-align: center;
}

header h1 {
    font-family: "Playfair Display";
    font-size: 96px;
    font-weight: 700;
}

header h3 {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 5px;
}

header h2 {
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 400;
}

header a {
    color: whitesmoke;
    background: rgb(42, 22, 69);
    border-radius: 100px;
}

main h3 {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
}

main h2 {
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

main p {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

main a {
    background: black;
    border-radius: 50px;
    color: whitesmoke;
    padding: 20px 16px 20px 16px;
}

footer {
    background-blend-mode: multiply;
    background-color: rgb(42, 22, 69);
    background-image: url(../src/images/Tim-Burton-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    background-position: center;
    display: grid;
    line-height: 24px;
    margin: 20px;
    max-height: 100%;
    max-width: 100%;
    padding: 80px 160px;
    text-align: left;
}

footer img {
    max-width: 100%;
}

footer h3 {
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}

footer p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

footer ul {
    padding: 0;
}

footer li {
    font-family: "Roboto";
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: whitesmoke;
}

@media (max-width: 960px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }

    section {
        padding: 30px;
    }
}